{% load static %}
<title>Online Cv</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">



<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'index' %}" style="color: #FFFF00; font-weight: bold;">Online Cv Generator</a>

    <p class="d-none d-md-inline-block  ml-auto mr-0 mr-md-3 my-2 my-md-0"></p>
    <ul class="navbar-nav ml-auto ml-md-0">
        <a href="{% url 'index' %}" id="btn_link_space"><button class="btn_link">Home</button></a>
        <a href="{% url 'login' %}" id="btn_link_space"><button class="btn_link">Sign In</button></a>
        <a href="{% url 'reg-form' %}" id="btn_link_space"><button class="btn_link">Sign Up</button></a>
    </ul>
</nav>

